.topAssistsTable-container {
    width: 3000px;
    margin: 0 20px; 
    float: inline-start;
}

.topAssistsTable-table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    font-size: 13px;
    border-collapse: separate;
    border-spacing: 0;
}

.topAssistsTable-title {
    background-color: #fcfcfc;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px; 
    width: fit-content; 
    margin: 0 10px;
}

.league-logo {
    max-width: 50px !important;
    margin-right: 10px;
}

.topAssistsTable-table th{
    padding: 8px;
    text-align: center;
    border: none;
}

.topAssistsTable-table td {
    padding: 8px;
    text-align: left;
    width: fit-content;
    border: none;
}

.topAssistsTable-table th,.topAssistsTable-table th.form{
    background-color: #defec7;
}

.topAssistsTable-table tr {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.topAssistsTable-table tr:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.topAssistsTable-table th.logo,
.topAssistsTable-table td.logo {
    text-align: start;
    width: fit-content;
}

.topAssistsTable-table img {
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
    padding-right: 10px;
    text-align: center;
}

.topAssistsTable-table th.rank,
.topAssistsTable-table td.rank {
    text-align: center;
}

.topAssistsTable-table th.player-name,
.topAssistsTable-table td.player-name {
    font-weight: bold;
}

.topAssistsTable-table th.team-name,
.topAssistsTable-table td.team-name {
    font-weight: bold;
    width: 80px;
}

.topAssistsTable-table th.accuracy,
.topAssistsTable-table td.accuracy {
    text-align: center;
}

.topAssistsTable-table th.assists,
.topAssistsTable-table td.assists {
    text-align: center;
}

.topAssistsTable-table td.form {
    font-weight: bold;
    color: #333;
}

.topAssistsTable-table td.form span {
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: normal;
}

.topAssistsTable-table td.form span.W {
    background-color: #d4edda;
    color: #155724;
}

.topAssistsTable-table td.form span.L {
    background-color: #f8d7da;
    color: #721c24;
}

.topAssistsTable-table td.form span.D {
    background-color: #fff3cd;
    color: #856404;
}
