.standings-container {
    width: fit-content;
    float: inline-start;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 0 10px turquoise;
}


.standings-table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    font-size: 13px;
    border-collapse: separate;
    border-spacing: 0;
}

.standings-title {
    display:flex; 
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333333be;
}


.league-logo {
    max-width: 50px !important;
    filter: hue-rotate(650deg);
}

.standings-table td {
    padding: 12px;
    text-align: left;
    border: none;
}

.standings-table th {
    padding: 8px;
    text-align: center;
    border: none;
}

.standings-table th,
.standings-table th.form {
    background-color: #04f7ff56;
    color: gray;
}

.standings-table tr {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.standings-table tr:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #19191976
}

.standings-table td.logo {
    text-align: start;
    width: max-content;
    display: flex;
    align-items: center;
}

.standings-table img {
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.standings-table th.logo {
    text-align: center;
    width: fit-content;
}


.standings-table th.rank,
.standings-table td.rank {
    text-align: center;
}

.standings-table th.team-name,
.standings-table td.team-name {
    font-weight: bold;
    width: 80px;
}

.standings-table th.points,
.standings-table td.points {
    text-align: center;
}

.standings-table td.form {
    font-weight: bold;
    color: #333;
}

.standings-table td.form span {
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: normal;
}

.standings-table td.form span.W {
    background-color: #d4edda;
    color: #155724;
}

.standings-table td.form span.L {
    background-color: #f8d7da;
    color: #721c24;
}

.standings-table td.form span.D {
    background-color: #fff3cd;
    color: #856404;
}