.tooltip {
    position: absolute;
    margin-top: 50px;
    z-index: 1;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    transform: translateY(70%);

}

.tooltip img {
    max-width: 30px;
    max-height: 30px;
    text-align: center;
    display: block;
    margin: auto;
}