.home-page-container {
    display: block;
    /* position: relative; */
}

.list-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 20%;
}

.tables-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 100%;
    justify-content: center;
    margin-top: 25%;
    padding-bottom: 20px;
}

.top-tables {
    display: flex;
    flex-direction: column;
    gap: 50px;
}