.topAssistsTable-container {
    width: fit-content;
    float: inline-start;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0 0 10px turquoise;
}

.topAssistsTable-table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: fit-content;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0;
}

.topAssistsTable-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #333333be;
}

.league-logo {
    max-width: 50px !important;
    filter: hue-rotate(650deg);
}

.topAssistsTable-table th {
    padding: 8px;
    text-align: center;
    border: none;
}

.topAssistsTable-table td {
    padding: 8px;
    text-align: left;
    border: none;
}

.topAssistsTable-table th,
.topAssistsTable-table th.form {
    background-color: #04f7ff56;
    color: gray;
}

.topAssistsTable-table tr {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.topAssistsTable-table tr:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: #19191976
}

.topAssistsTable-table th.logo,
.topAssistsTable-table td.logo {
    text-align: start;
    display: flex;
    align-items: center;
    width: fit-content;
}

.topAssistsTable-table img {
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
    padding-right: 10px;
    text-align: center;
}

.topAssistsTable-table th.rank,
.topAssistsTable-table td.rank {
    text-align: center;
}

.topAssistsTable-table th.player-name,
.topAssistsTable-table td.player-name {
    font-weight: bold;
}

.topAssistsTable-table th.team-name,
.topAssistsTable-table td.team-name {
    font-weight: bold;
    width: 80px;
}

.topAssistsTable-table th.accuracy,
.topAssistsTable-table td.accuracy {
    text-align: center;
}

.topAssistsTable-table th.assists,
.topAssistsTable-table td.assists {
    text-align: center;
}

.topAssistsTable-table td.form {
    font-weight: bold;
    color: #333;
}

.topAssistsTable-table td.form span {
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: normal;
}

.topAssistsTable-table td.form span.W {
    background-color: #d4edda;
    color: #155724;
}

.topAssistsTable-table td.form span.L {
    background-color: #f8d7da;
    color: #721c24;
}

.topAssistsTable-table td.form span.D {
    background-color: #fff3cd;
    color: #856404;
}