/* listOfFixtures.css */

.fixtures-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: relative; */
    margin: 10px 0;
    margin-inline: 10px;
}

.horizontal-list::-webkit-scrollbar {
    display: none;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    flex-grow: 1;
    scroll-behavior: smooth;
    margin: 0 auto;
}

.list-item {
    margin-right: 1px;
    transition: transform 0.3s ease;
}

.scroll-button {
    background-color: rgba(0, 123, 255, 0.5);
    color: #ffffff;
    border: none;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 10%;
    height: 150px;
}

.scroll-button:hover {
    background-color: rgba(0, 86, 179, 0.5);
}

.scroll-button:active {
    transform: scale(0.95);
}

.scroll-button:focus {
    outline: none;
}